body, html {
  height: 100%;
}


.bg { 
  /* The image used */
  background-image: url("1.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

.history { 
  /* The image used */
  background-image: url("2.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;

}

.examples { 
  /* The image used */
  background-image: url("3.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;

}

.thinkingforward { 
  /* The image used */
  background-image: url("4.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;

}

.links { 
  /* The image used */
  background-image: url("5.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;

}



.button1 {
	width: 21%;
	margin-top: 10%;
	margin-left: 4%;
	padding-bottom: 6%;
	outline: 5px;
}

.button_hist {
	width: 20%;
	margin-top: 4%;
	margin-left: 4%;
	padding-bottom: 6%;
	outline: 5px;
}
.button2 {
	width: 20%;
	margin-top: 6%;
	margin-left: 4%;
	padding-bottom: 6%;
	outline: 5px ;
}

.button_smol {
	width: 6%;
	margin-top: 2%;
	margin-left: 3%;
	padding-bottom: 4%;
	outline: 5px;
}